.about {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: #f6f4f4;
  @include response(tab-land) {
    padding-right: 0;
    padding-left: 0;
  }

  &-wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/about_bg.png);
    background-position: 130% 15%;
    background-repeat: no-repeat;
    background-size: 90%;
    display: flex;

    @include response(tab-land) {
      background-position: 200% 15%;
    }
  }

  &-info {
    width: 41.5%;
    margin-left: 5rem;
    padding-top: 15rem;
    padding-bottom: 15rem;

    @include response(tab-land) {
      padding-bottom: 10rem;
      padding-top: 10rem;
    }

    @include response(phone) {
      margin: 0;
      padding: 5rem 1.5rem;
      width: 100%;
      text-align: center;
    }

    & > * {
      width: 80%;

      @include response(tab-land) {
        width: 85%;
      }
    }

    & h3 {
      position: relative;
      display: inline-block;

      @include waves;
    }

    & p {
      margin-top: 2.7rem;
      display: inline-block;
    }

    & button {
      margin-top: 3rem;
    }
  }

  &-img {
    flex-grow: 1;
    position: relative;

    &--1 {
      position: absolute;
      top: -35px;
      left: 200px;
      width: 100%;

      @media only screen and (max-width: 106.25em) {
        width: 70%;
        position: initial;
        margin-left: 30%;
      }

      @include response(tab-land) {
        width: 80%;
        position: initial;
        margin-left: 20%;
      }

      @include response(phone) {
        width: 90%;
        position: initial;
        margin-left: 10%;
      }
    }

    &--2 {
      position: absolute;
      bottom: 25px;
      left: 110px;
      width: 45%;

      @include response(tab-land) {
        bottom: 0;
        left: 0;
        width: 50%;
      }
    }
  }
}
