.footer {
  background: url(../img/footer-bc-low.png) bottom no-repeat,
    url(../img/footer-bc-high.png) center 100% no-repeat;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include response(phone) {
    background: url(../img/footer-bc-low.png) bottom no-repeat,
      url(../img/footer-bc-high.png) 20% 100% no-repeat;
  }

  &-wrapper {
    max-width: 1170px;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    & h2.heading-secondary {
      @include waves;
      margin-top: 7rem;
    }
  }

  &-article {
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;

    @include response(phone) {
      flex-direction: column;
      padding-bottom: 20rem;
    }

    &--1 {
      width: 48%;
      @include response(phone) {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    }

    &--2 {
      width: 48%;
      @include response(phone) {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: 10rem;
      }
    }

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & figure {
        display: flex;
        align-items: center;
        margin-top: 3rem;
      }
    }

    &__text {
      @include sans(regular);
      color: #adadad;
      font-size: 1.8rem;
      position: relative;

      &::before {
        content: "\201C";
        color: #bcbcbc;
        @include league;
        font-size: 9.2rem;
        position: absolute;
        top: -7rem;
      }

      @include response(phone) {
        font-size: 2.2rem;
      }
    }

    &__author {
      padding-left: 1.7rem;
      color: #36aeea;
      @include sans(bold);
      font-size: 1.6rem;

      & span {
        @include sans(regular);
      }

      @include response(phone) {
        font-size: 2.4rem;
      }
    }
  }

  &-contacts {
    margin-top: 17rem;
    background: url(../img/footer-bc-form.png) no-repeat;
    box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.75);
    border-radius: 0.8rem;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include response(tab-land) {
      margin-top: 30rem;
    }
    @include response(phone) {
      width: 70%;
      margin-top: 50rem;
    }

    &__heading {
      @include sans(bold);
      text-transform: uppercase;
      margin-top: 3rem;
      font-size: 3.6rem;
      color: #36aeea;
      letter-spacing: 0.36rem;
      z-index: 10;

      @include response(phone) {
        font-size: 4.6rem;
      }
    }

    &__text {
      @include sans(regular);
      font-size: 1.8rem;
      color: #383e4a;

      @include response(tab-land) {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
      }

      @include response(phone) {
        font-size: 2.4rem;
      }
    }

    &__form {
      margin-top: 3.5rem;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      & input {
        height: 6rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
        @include roboto(regular);
        font-size: 1.8rem;
        color: #383e4a;
        border-radius: 0.4rem;
        border: 0.3rem solid #ffffff;
        background-color: #ffffff;

        &::placeholder {
          color: #cccccc;
        }

        @include response(phone) {
          font-size: 2.2rem;
        }
      }

      &-btn {
        width: 100%;
        margin-bottom: 4rem;
      }
    }
  }

  &-social {
    margin-top: 16rem;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;

    @include response(phone) {
      height: 13.5rem;
      flex-direction: column;
      justify-content: space-around;
    }

    &__item {
      &:first-of-type {
        color: #618a97;
        @include sans(regular);
        font-size: 1.8rem;

        @include response(phone) {
          order: 3;
        }
      }

      &:last-of-type {
        @include roboto(regular);
        font-size: 2.7rem;
        color: #7cc2d4;
      }

      &-sublist {
        display: flex;
        align-items: center;
        & > * {
          &:not(:last-of-type) {
            margin-right: 1rem;
          }
          & > * {
            height: 4rem;
            width: 4rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
