.header {
  padding-top: 2rem;
  background: url(../img/bc_rectangle.png) center 220px no-repeat,
    url(../img/header-img.png) center no-repeat/cover;
  height: 700px;

  @include response(tab-land) {
    background: url(../img/header-img.png) center no-repeat/cover;
    height: auto;
  }

  &-wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &-nav {
    display: flex;
    align-items: center;

    &__logo {
      @include Bringin;
      font-size: 2.9rem;
      color: #36aeea;
      margin-right: 10rem;

      & span {
        color: #95a5ad;
      }

      @include response(tab-port) {
        order: 2;
      }
    }

    &__links {
      display: flex;
      font-size: 1.6rem;
      align-items: center;
      &-item {
        color: #9daeb6;
        @include sans(bold);
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }

      @include response(tab-port) {
        order: 1;
        display: none;
      }
    }

    &__btn {
      margin-left: auto;

      @include response(tab-port) {
        order: 3;
      }
    }
  }

  &-info {
    width: 45%;
    margin-top: 20rem;
    margin-left: 5rem;

    @include response(tab-land) {
      width: 60%;
      margin-top: 0;
      margin-left: 5rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }

  .heading-primary {
    @include sans(bold);
    font-size: 5rem;
    color: #ffffff;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    position: relative;

    & span {
      font-size: 6.6rem;
      text-transform: none;
      color: #56c7ff;
      @include Bringin;
      letter-spacing: 0.132rem;
      position: absolute;
      top: 40%;
      left: 0;
    }
  }

  & .text-tertiary {
    width: 75%;
    margin-top: 3rem;
    opacity: 0.75;
    color: #ffffff;
    @include sans(regular);
    font-size: 1.8rem;
  }

  & .btn {
    margin-top: 2.5rem;
  }
}
