.header {
  padding-top: 2rem;
  background: url(../img/bc_rectangle.png) center 220px no-repeat,
    url(../img/header-img.png) center no-repeat/cover;
  height: 700px;

  @include response(tab-land) {
    background: url(../img/header-img.png) center no-repeat/cover;
    height: auto;
  }

  &-wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &-nav {
    display: flex;
    align-items: center;
    transition: 0.4s;

    @include response(phone) {
      justify-content: space-between;
    }

    &__logo {
      @include Bringin;
      font-size: 3.3rem;
      color: #36aeea;
      margin-right: 6.5rem;

      & span {
        color: #95a5ad;
      }

      @include response(phone) {
        margin: 0;
        order: 1;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      &-item {
        color: #9daeb6;
        @include sans(bold);
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        &:not(:last-child) {
          margin-right: 2rem;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 0;
          background-color: #36aeea;

          @include response(phone) {
            content: none;
          }
        }

        &:hover::after {
          width: 100%;
          height: 2px;
        }

        @include response(phone) {
          font-size: 4rem;
          padding: 2rem 0;
          &:not(:last-child) {
            margin-right: 0rem;
          }
        }
      }

      @include response(phone) {
        position: fixed;
        background-color: #333;
        right: -100%;
        top: 0;
        width: 100vw;
        height: 100vh;
        padding: 80px 0;
        z-index: 10000;
        flex-direction: column;
        transition: 0.7s;
      }
    }

    &__btn {
      margin-left: auto;

      @include response(phone) {
        margin: 0;
        order: 1;
        margin-right: 5rem;
      }
    }
  }

  &-info {
    width: 45%;
    margin-top: 17.5rem;
    margin-left: 5rem;

    @include response(tab-land) {
      width: 60%;
      margin-top: 0;
      margin-left: 3.5rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }

    @include response(phone) {
      width: 70%;
      margin: 0;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }

  .heading-primary {
    @include sans(bold);
    font-size: 5rem;
    color: #ffffff;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    position: relative;

    @include response(phone) {
      font-size: 4rem;
    }

    & span {
      font-size: 6.6rem;
      text-transform: none;
      color: #56c7ff;
      @include Bringin;
      letter-spacing: 0.132rem;
      position: absolute;
      top: 40%;
      left: 0;

      @include response(phone) {
        font-size: 5rem;
      }
    }
  }

  & .text-tertiary {
    width: 75%;
    margin-top: 3rem;
    opacity: 0.75;
    color: #ffffff;
    @include sans(regular);
    font-size: 1.8rem;
  }

  & .btn {
    margin-top: 2.5rem;
    width: 50%;
  }
}

.show-menu-btn {
  order: 4;
  width: 5rem;
}

.hide-menu-btn {
  width: 8rem;
}

.show-menu-btn,
.hide-menu-btn {
  display: none;

  @include response(phone) {
    display: block;
  }
}

#menu {
  position: absolute;
  visibility: hidden;
  z-index: -1111;

  @include response(phone) {
    &:checked ~ .header-nav__links {
      right: 0;
    }
  }
}
