.journal {
  & h2 {
    text-align: center;
    @include waves;
    margin-top: 7rem;
  }

  &-content {
    margin-top: 7rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    box-shadow: 0 0px 20px lightgray;
    & > * {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__item {
      &--1 {
        position: relative;
        &::after {
          content: url(../img/journal-1-logo.png);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & img {
          width: 100%;
        }
      }

      &--2 {
        position: relative;
        & h4 {
          width: 85%;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          width: 70%;
          margin-left: auto;
          margin-right: auto;
        }

        &::after {
          content: "";
          height: 20px;
          width: 20px;
          background-color: white;
          position: absolute;
          top: 40px;
          left: -7px;
          transform: rotate(45deg);
          z-index: 100;
        }
      }

      &--3 {
        position: relative;
        &::after {
          content: url(../img/journal-3-logo.png);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & img {
          width: 100%;
        }
      }

      &--4 {
        position: relative;
        & h4 {
          width: 70%;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          width: 70%;
          margin-left: auto;
          margin-right: auto;
        }

        &::after {
          content: "";
          height: 20px;
          width: 20px;
          background-color: white;
          position: absolute;
          top: 40px;
          right: -7px;
          transform: rotate(45deg);
          z-index: 100;
        }
      }

      &--5 {
        position: relative;
        &::after {
          content: url(../img/journal-5-logo.png);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & img {
          width: 100%;
        }
      }

      &--6 {
        position: relative;
        & h4 {
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          width: 70%;
          margin-left: auto;
          margin-right: auto;
        }

        &::after {
          content: "";
          height: 20px;
          width: 20px;
          background-color: white;
          position: absolute;
          top: -7px;
          left: 40px;
          transform: rotate(45deg);
          z-index: 100;
        }
      }
    }
  }
}
