.journal {
  &-wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;

    & h2 {
      @include waves;
      margin-top: 7rem;
    }
  }

  &-content {
    margin-top: 7rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0 0px 2rem lightgray;

    &>* {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: relative;

      @include response(phone) {
        width: calc(100% / 2);
      }

      &>img {
        // for each img inside the list
        object-fit: cover;
      }

      &:nth-child(odd) {
        &::after {
          @include absCenter;
        }
      }

      &:nth-child(even) {
        &::after {
          content: "";
          height: 2rem;
          width: 2rem;
          background-color: white;
          position: absolute;
          z-index: 100;
          transform: rotate(45deg);
        }

        & h4,
        p {
          width: 70%;
          margin-left: auto;
          margin-right: auto;

          @include response(phone) {
            width: 85%;
            font-size: 2.5rem;
          }
        }
      }
    }

    &__item {
      &--1 {
        &::after {
          content: url(../img/journal-1-logo.png);
        }
      }

      &--2 {
        &::after {
          top: 4rem;
          left: -1rem;
        }
      }

      &--3 {
        &::after {
          content: url(../img/journal-3-logo.png);
        }

        @include response(phone) {
          order: 4;
        }
      }

      &--4 {
        &::after {
          top: 4rem;
          right: -1rem;

          @include response(phone) {
            top: initial;
            bottom: -1rem;
            right: 4rem;
          }
        }

        @include response(phone) {
          order: 3;
        }
      }

      &--5 {
        &::after {
          content: url(../img/journal-5-logo.png);
        }

        @include response(phone) {
          order: 5;
        }
      }

      &--6 {
        &::after {
          top: -1rem;
          left: 4rem;
        }

        @include response(phone) {
          order: 6;
        }
      }
    }
  }
}