.offer {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: left;
  padding-top: 14rem;
  background: url(../img/offer-big-tree.png) 90% bottom no-repeat fixed,
    url(../img/offer-sm-tree.png) 70% bottom no-repeat fixed,
    url(../img/offer-bc-left.png) left bottom no-repeat fixed,
    url(../img/offer-bc-right.png) right bottom no-repeat fixed;
  background-color: #f6f4f4;

  @include response(tab-land) {
    background: url(../img/offer-big-tree.png) 110% bottom no-repeat/contain,
      url(../img/offer-sm-tree.png) 60% bottom no-repeat,
      url(../img/offer-bc-left.png) left bottom no-repeat,
      url(../img/offer-bc-right.png) right bottom no-repeat;
    background-color: #f6f4f4;
  }

  @include response(phone) {
    background: url(../img/offer-big-tree.png) 150% bottom no-repeat/70%,
      url(../img/offer-sm-tree.png) 60% bottom no-repeat/50%,
      url(../img/offer-bc-left.png) left bottom no-repeat/70%,
      url(../img/offer-bc-right.png) right bottom no-repeat/100%;
    background-color: #f6f4f4;
  }

  &-wrapper {
    max-width: 1170px;
    z-index: 100;
    @include waves;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  &-content {
    width: 65%;
    position: relative;

    @include response(tab-land) {
      margin-left: 0;
      width: 45%;
    }

    &__text {
      margin-top: 2.5rem;
      width: 80%;

      @include response(tab-land) {
        width: 100%;
      }

      @include response(phone) {
        font-size: 2.5rem;
      }
    }

    &__form {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      border-radius: 0.4rem;
      overflow: hidden;
      display: flex;
      width: 100%;
      position: relative;
      padding-bottom: 25rem;

      @include response(phone) {
        padding-bottom: 14rem;
      }

      @include response(tab-land) {
        flex-direction: column;
      }

      & input {
        width: 33.3%;
        border: none;
        padding: 2rem;
        font-size: 1.6rem;
        @include sans(regular);
        letter-spacing: 0.032rem;

        @include response(tab-land) {
          width: 100%;
        }

        @include response(phone) {
          font-size: 2.5rem;
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: 3.5rem;
        background-color: #ebebeb;
        top: 50%;
        left: 33%;
        transform: translate(-33%, -50%);

        @include response(tab-land) {
          content: none;
        }
      }

      & button {
        width: 33.3%;
        border-radius: 0.4rem;

        @include response(tab-land) {
          width: 100%;
        }
      }
    }
  }
}