.scheme {
  &-wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;

    & h2 {
      margin-top: 7rem;
      @include waves;
    }
  }

  &-content {
    margin-top: 7.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    &__item {
      width: 20%;
      @include response(phone) {
        width: 40%;
        &:nth-last-child(-n + 2) {
          // last two elements
          margin-top: 5rem;
        }
      }

      & figure {
        display: flex;
        flex-direction: column;
        align-items: center;

        & figcaption {
          margin-top: 3rem;
          color: #949494;
          @include roboto(light);
          font-size: 1.8rem;

          @include response(phone) {
            font-size: 2.4rem;
          }

          &::first-line {
            color: #2c2e37;
            @include roboto(regular);
            font-size: 1.8rem;
            font-weight: bold;

            @include response(phone) {
              font-size: 2.4rem;
            }
          }
        }
      }

      &-number {
        width: 4.8rem;
        height: 4.8rem;
        border: 0.3rem solid #36aeea;
        border-radius: 50%;
        background-color: #ffffff;

        color: #3bb0eb;
        @include roboto(regular);
        font-size: 2rem;
        font-weight: 400;
        line-height: 4rem;
        text-transform: uppercase;

        @include response(phone) {
          font-size: 2.4rem;
          line-height: 4.2rem;
        }

        &::after {
          content: "";
          background-color: #f0f3f6;
          display: block;
          width: 0.2rem;
          height: 13rem;
          margin: 0.5rem auto 0;
        }
      }

      &-img {
        margin-top: 6rem;
        width: 17rem;
        height: 17rem;
        background: url(../img/scheme-bc-hexagon.png) 50% 60% no-repeat/70%;
        background-color: #f0f3f6;
        border-radius: 50%;
        position: relative;

        & img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
